{%extends 'layout.html'%}
{%block content%}
<div class="container-fluid">
  <h1>Mashable Stories</h1>
  <p>Python extracting some stories from the webs</p>
</div>
{% for story in doc['new']  %}

    <div class="panel">
    <div class="panel-body">
      <p>{{ story['title'] }}</p>
      <img src="{{ story['responsive_images'][0]['image'] }}" alt="" /><br />
      <button type="button" class="btn btn-default btn-lg">
        <a href="{{ story['link'] }}" target="_blank"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> Read More</a>
      </button>
    </div>
  </div>

{% endfor %}

{%endblock%}
